.section-cta{
	padding-top: 3rem;
	padding-bottom: 3rem;

	.carousel-nav{
		bottom: 2rem;
		right: 2rem;
	}
}
.section-cta__column{
	width: 100%;
	margin-bottom: 2rem;
	position: relative;
	@media (min-width: $bp-tablet) {
		lost-column:1/2;
		margin-bottom: 0;
	}

	&:last-child{
		lost-flex-container:column;
		justify-content:space-between;

		img{
			margin-bottom: 2rem;
			@media (min-width: $bp-tablet) {
				margin-bottom: 0;
			}
		}
	}
}



.highlights{
	background-color: #626466;
	padding: 3rem;
	padding-bottom: 3rem;

	.carousel-nav{
		top: 2rem;
		right: 1rem;
	}
}




.showcase{
	width: 100%;
}




.promotion{
	padding-top: 3rem;
	padding-bottom: 3rem;

	.carousel-nav{
		top: 2rem;
		right: 1rem;
	}
}




.banners{
	padding-top: 3rem;
	padding-bottom: 3rem;

	.wrap{
		align-items:flex-start;
		justify-content:center;
	}
}
.banner__item{
	margin-bottom: 2rem;
	@media (min-width: $bp-tablet) {
		max-width: 35%;
		margin-right: 3rem;
		margin-bottom: 0;

		&:last-child{
			margin-right: 0;
		}
	}
}

